@model List<Student>;
@using StudentApp.Models
@{
    ViewData["Title"] = "Student Page";
    @* List<Student> students = ViewBag.StudentList; *@
    @* var students = ViewData["StudentList"] as List<Student>; *@
    var students = Model;
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <h1 style="" class="display-4">Student Page</h1>

        <form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="/student/index">
        <div class="col-12">
            <label class="visually-hidden" for="Keyword">Keyword</label>
            <input type="text" class="form-control" id="Keyword" name="Keyword" placeholder="Keyword">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Manage Students</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium">StudentId</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Class</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Address</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Age</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Department</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Rank</th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (Student student in students)
                      {
                                              <tr>
                      <td>
                          <h5 class="font-medium mb-0">@student.Id</h5>

                      </td>
                      <td>
                          <span class="text-muted">@student.Class</span><br>
                      </td>
                      <td>
                          <span class="text-muted">@student.Name</span><br>
                      </td>
                      <td>
                          <span class="text-muted">@student.Address</span><br>
                      </td>
                      <td>
                          <span class="text-muted">@student.Age</span><br>
                      </td>
                      <td>
                          <span class="text-muted">@student.Department.Name</span><br>
                      </td>
                      <td>
                          <span class="text-muted">@student.Rank.Name</span><br>
                      </td>
                      <td>
                        <a href="/Student/Delete?studentId=@student.Id" type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </a>
                        <a href="/Student/Update?studentId=@student.Id" type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </a>
                      </td>
                    </tr>

                      }
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>